{% extends "base.html" %}

{% block title %}
AP ChemHelp | Concentration - Periodic Structure
{% endblock title %}


{% block earlyStatic %}
 <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js" /></script>
 <script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js" /></script>
 <script src="{{ STATIC_URL }}js/jquery.flip.min.js" /></script>
 <script src="{{ STATIC_URL }}js/jquery.quizymemorygame.js" /></script>
 <script src="{{ STATIC_URL }}js/jquery.quizymemorygame.min.js" /></script>

 <!-- Bootstrap core CSS -->
 <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
 <!-- Custom styles for this template -->
 <link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
 <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}
    
  <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-9">
          <p class="pull-right hidden-lg">
            <button type="button" class="btn btn-primary btn-offcanvas" data-toggle="offcanvas"><i class="glyphicon glyphicon-resize-horizontal"></i></button>
          </p>
          <div class="jumbotron">

<!-- Text -->

<div class="move">
<div id="perStr" class="quizy-memorygame">
<ul>
  <li class="match1">
    Aufbau Principle
  </li>
  <li class="match1">
    States that electrons are placed in orbitals, subshells, and shells in order of increasing energy when building up the electron configuration.
  </li>
  <li class="match2">
    Pauli Exclusion Principle
  </li>
  <li class="match2"> 
    States that no two electrons can have the same set of quantum numbers within an atom.
  </li>
  <li class="match3">
    Periods
  </li>
  <li class="match3">
    Horizontal rows of the periodic table.
  </li>
  <li class="match4">
    Groups
  </li>
  <li class="match4">
    Vertical columns of the periodic table.
  </li>
  <li class="match5">
    Rutherford's "Gold Foil" Experiment
  </li>
  <li class="match5">
    Concluded that all of the positive charge in an atom was concentrated at the center.
  </li>
  <li class="match6">
    Heisenberg's Uncertainty Principle
  </li>
  <li class="match6">
    States that the exact position and momentum of a particle cannot be simultaneously known
  </li>  
  <li class="match7">
    Quantum Numbers
  </li>
  <li class="match7">
    Describes the positions of the electrons in relation to the nucleus by its shell, subshell, orbital, and spin.
  </li>
  <li class="match8">
    Atomic Radius
  </li>
  <li class="match8"> 
    Approximate distance from an atom's nucleus to its valence electrons (Greatest at bottom-left of periodic table).
  </li>
  <li class="match9">
    Ionization Energy
  </li>
  <li class="match9">
    The energy required to remove an electron from an atom (Greatest at top-right of periodic table).
  </li>
  <li class="match10">
    Dmitri Mendeleev
  </li>
  <li class="match10">
    Creator of the Periodic Table of Elements.
  </li>
</ul>
</div>
</div>

<script>
$('#perStr').quizyMemoryGame(
  {
      itemWidth: 156, 
      itemHeight: 156, 
      itemsMargin: 11, 
      colCount:5, 
      animType:'flip' , 
      flipAnim:'tb', 
      animSpeed:250, 
      resultIcons:true
    }
  );
</script>

<!-- End Text -->
{% endblock content %}


{% block lateStatic %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}