<head>
    <title>AP ChemHelp | About</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/about.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo2.png"></a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
            <li><a href="/about/">About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    <br>
    <center><h1>About (Me)</h1></center>
    <br><br>
    <div class="aboutme">
      <img src="{{ STATIC_URL }}img/aboutpic.png">
      <div class="description">
        <p class="abouttext">
        <center><span class="question">Who is this guy, you ask?</span></center>
        <br>
        Well, to start, my name is Grant Rygh and I am currently a senior attending Horlick High School in Racine, Wisconsin.<br>
        I'm not a professional web developer, nor am I a chemist, however I do possess some knowledge in chemistry, as well as some basic coding skills that I have recently picked up.  
        <br><br>
        <center><span class="question">Why did I make this website?</span></center>
        <br>
        I created this website for one purpose: to serve as a resource for other students taking a chemistry class, whether it's AP, Honors, or regular.
        <br><br>
        <center><span class="question">Something is wrong!</span></center>
        <br>
        Nothing is perfect, especially new sites.  Therefore if you find any errors during your use of AP ChemHelp, please contact me at <a href="mailto:grantrygh@gmail.com?Subject=APChemHelp%20Comment" target="_top">grantrygh@gmail.com</a>.  I will be updating the site regularly and need your help to create a better experience for everyone!
        </p>
      </div>
    </div>




        <hr>

        <footer class="footer">
          <p>AP ChemHelp &copy; 2013</p>
        </footer>

    </div> <!-- /container -->

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/offcanvas.js"></script>
  </body>
