<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}APChemHelp | High School Chemistry Help, Cheat Sheets, Formulas{% endblock %}</title>
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% endblock meta %}
  {% block earlyStatic %}{% endblock earlyStatic %}
</head>

<body>
  {% block content %}{% endblock content %}
  {% block lateStatic %}{% endblock lateStatic %}
</body>  
</html>