{% extends "base.html" %}

{% block title %}
AP ChemHelp | Contact
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/contact.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}

      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo2.png"></a>
      </div>
    </div>

    <div class="container">

  <header class="body"><br>

<div class="row-fluid">
  <div class="span4">
    
      <h1><b></b></h1>

      {% if contactComplete %}
      <h3>Thank you. Your message has been received.<h3>
      {% else %}
      <h3>Contact Me:<h3>
      {% endif %}

  </div>
</div>

    </header>

<section class="body">

  <form action="" method="post">{% csrf_token %}

    Email
    <input name="email" size="64" maxlength="64"/>

    Name
    <input name="realname" size="64" maxlength="64"/>

    Subject
    <input name="subject" size="64" maxlength="64"/>

    Message
    <textarea name="body" rows="10" cols="60"></textarea>

    <input type="submit" name="submit" value="Send Your Message"/>

  </form>

</section>

<hr><br><br><br><br>
        <footer class="footer" id="short">
          AP ChemHelp &copy; 2013
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/license/">License&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
            <li><a href="/about/">About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div> <!--/.nav-collapse -->
        </footer>

    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/offcanvas.js"></script>
  
{% endblock content %}
