{% extends "base.html" %}

{% block title %}
AP ChemHelp | About Me
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}


    <div class="container">
      <br>


      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <h1>About</h1>
        <hr id='about-rule'>
        
        </div>
      </div>
      

    <div class="aboutme">
      <div class="row">
        <div class="col-lg-8 col-offset-2">
        
          <!-- BLOCK 1 -->
          <div class="row">
            <span class="question">Who am I?</span>
            <div class="col-lg-4" id="abpic">
              <img class="self-pic" src="{{ STATIC_URL }}img/testaboutpic.png">
            </div>
            <div class="col-lg-8">
              <p class="abouttext">
                Well, to start, my name is Grant Rygh and I am currently a freshman attending the University of Wisconsin-Madison.
                I'm not a professional web developer, nor am I a chemist, however I do possess some knowledge in chemistry, as well as some coding skills that I began learning in the summer of 2013.  
              </p>
            </div>
          </div>
          <hr id='question-rule'>

          <!-- BLOCK 2 -->
          <div class="row">
            <span class="question">Why did I build APChemHelp?</span>
            <div class="col-lg-12">
              <p class="abouttext">
                I created this website for one purpose: to serve as a resource for other students taking a chemistry class, whether it's at the regular, AP, or collegiate level. 
              </p>
            </div>
          </div>
          <hr id='question-rule'>

          <!-- BLOCK 3 -->
          <div class="row">
            <span class="question">Something is broken!</span>
            <div class="col-lg-12">
              <p class="abouttext">
                If you find any errors on the website, please shoot me an email through the <a href="/contact/">the contact page</a>. I will be updating the site regularly to sort out bugs and add new content.
              </p>
            </div>
          </div>
          <hr id='question-rule'>

          <!-- BLOCK 4 -->
          <div class="row">
            <span class="question">Can I help contribute?</span>
            <div class="col-lg-12">
              <p class="abouttext">
                If you are a teacher or student and would like to help out or donate content/study materials, please <a href="/contact/">contact me</a>.
                We are also looking for help to build new features. The application is open-sourced and can be found <a href="https://github.com/grantrygh/apchemhelp">on GitHub</a>. Come
                help build APChemHelp with us!
              </p>
            </div>
          </div>
          <hr id='question-rule'>


        </div>  <!-- end col-offset -->
      </div>  <!-- end row -->
    </div>  <!-- end aboutme -->
  </div>  <!-- end container -->

{% endblock content %}

{% block lateStatic %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}
