{% extends "base.html" %}

{% block title %}
AP ChemHelp | Contact
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block container %}

  <div class="container">

  <header class="body"><br>

<div class="row-fluid">
  <div class="span4">
    
      <h1><b></b></h1>

      {% if contactComplete %}
      <h3>Thank you. Your message has been received.<h3>
      {% else %}
      <center><h3>Contact Me</h3></center>
      {% endif %}

  </div>
</div>

    </header>

<section class="body">

  <form action="" method="post">{% csrf_token %}

    Email
    <input name="email" size="64" maxlength="64"/>

    Name
    <input name="realname" size="64" maxlength="64"/>

    Subject
    <input name="subject" size="64" maxlength="64"/>

    Message
    <textarea name="body" rows="10" cols="60"></textarea>

    <input type="submit" name="submit" value="Send Your Message"/>

  </form>

</section>

<br><br><br><br>

{% endblock container %}


{% block lateStatic %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}
