{% extends "base.html" %}

{% block title %}
AP ChemHelp | High School Chemistry Help, Calculators, Formulas
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}

<div class="container">
<br><br>
      <div class="jumbotron">
        <h2><b><center>Tools for AP Chemistry</center></b></h2>
      </div>

      <div class="body-content">

        <!-- Example row of columns -->
        <div class="row">
                <div class="col-sm-6 col-lg-3">
              <center><h2>Titration Calculator</h2></center>
              <p>Multi-functional calculator to assist you with titration problems when finding...
                <ul>
                  <li>pH</li>
                  <li>Volume</li>
                  <li>Concentration</li>
                  <li>Equivalence / Midpoint</li>
                </ul>
              </p>
              <br>
              <p><a class="btn btn-default" href="/calculator/titration/">Go to &raquo;</a></p>
            </div><!--/span-->
            <div class="col-sm-6 col-lg-3">
              <center><h2>Mass Calculator</h2></center>
              <p>Calculate the mass of simple elements, to complex compound formulas with this handy calculator!</p>
              <p><a class="btn btn-default" href="/calculator/mass/">Go to &raquo;</a></p>
            </div><!--/span-->
            <div class="col-sm-6 col-lg-3">
              <center><h2>Concentration Game</h2></center>
              <p>Test your chemistry vocabulary skills with a game of Concentration! <br> Select one of the below categories to begin. </p>
              <a href="/flashcard/acidbase/">Acids and Bases</a><br>
              <a href="/flashcard/periodic/">Periodic Structure</a><br>
              <a href="/flashcard/thermo/">Thermodynamics</a>
            </div><!--/span-->
            <div class="col-sm-6 col-lg-3">
              <center><h2>Formulas</h2></center>
              <p>A list of common chemistry formulas placed together for your convenience! <br> Formulas are separated by category.</p>
              <a href="/formulas/gases/">Gases</a><br>
              <a href="/formulas/equilibrium/">Equilibrium</a><br>
              <a href="/formulas/thermo/">Thermodynamics</a><br>
              <a href="/formulas/kinetics/">Kinetics</a>
            </div><!--/span-->
        </div>
        
{% endblock content %}

{% block lateStatic %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}