 {% extends "base.html" %}

 {% block sidenav %}
 </div>
 </div>
  <nav class="col-lg-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Titration</li>
        <li class="nav-item"><a href="/calculator/titration/">Titration Calculator</a></li>
        <li class="nav-header">Molecular</li>
        <li class="nav-item"><a href="/calculator/mass/">Mass Calculator</a></li>
        <li class="nav-header">Concentration Game</li>
        <li class="nav-item"><a href="/flashcard/acidbase/">Acids and Bases</a></li>
        <li class="nav-item"><a href="/flashcard/periodic/">Periodic Structure</a></li>
        <li class="nav-item"><a href="/flashcard/thermo/">Thermodynamics</a></li>
        <li class="nav-header">Formula Sheet</li>
        <li class="nav-item"><a href="/formulas/gases/">Gases</a></li>
        <li class="nav-item"><a href="/formulas/equilibrium/">Equilibrium</a></li>
        <li class="nav-item"><a href="/formulas/thermo/">Thermodynamics</a></li>
        <li class="nav-item"><a href="/formulas/kinetics/">Kinetics</a></li>
      </ul>
    </div><!--/.well -->
  </nav><!--/span-->
{% endblock sidenav %}