{% extends "base.html" %}

{% block title %}
AP ChemHelp | Thermodynamics Formulas
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}
    
  <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-9">
          <p class="pull-right hidden-lg">
            <button type="button" class="btn btn-primary btn-offcanvas" data-toggle="offcanvas"><i class="glyphicon glyphicon-resize-horizontal"></i></button>
          </p>
          <div class="jumbotron">

<!-- Text -->

<div class="flowpanes" id="flowpanes">
  <div>
  <h3><center>Thermodynamics Formulas</center></h3>
    <!-- Thermodynamics -->
    <center>
    <table border="1" id="acidsbases" padding="5px">
      <tr>
        <th><center>Name</center></th>
        <th><center>Formula</center></th>
        <th></th>
      </tr>
      <tr>
        <td><center>Gibb's Free Energy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\fn_jvn&space;\inline&space;\large&space;\Delta&space;G&space;=&space;\sum&space;\Delta&space;G_{\:&space;products}\:&space;-\:&space;\sum\Delta&space;G_{\:&space;reactants}"></center></td>
        <td><center>Used to to predict whether a process will occur spontaneously at a constant temperature and pressure</center></td>
      </tr>
      <tr>
        <td><center></center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;\Delta&space;\large&space;G&space;=&space;\Delta&space;H&space;\:&space;-&space;\:&space;T\Delta&space;S}"></center></td>
        <td><center><br><br></center></td>
      </tr>
      <tr>
        <td><center></center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;\large&space;\Delta&space;G=\Delta&space;G^{\circ}\,&plus;\,&space;RT\,&space;ln(Q)"></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;\small&space;R=8.3145\,(\frac{J}{K\cdot&space;mol})"><br>
        Q = Reaction Quotient<br></center></td>
      </tr>
    <tr>
        <td><center>Standard Free Energy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\fn_jvn&space;\inline&space;\large&space;\Delta&space;G^{\circ}&space;=&space;\sum&space;\Delta&space;G^{\circ}_{f&space;\:&space;products}\:&space;-\:&space;\sum\Delta&space;G^{\circ}_{f\:&space;reactants}"></center></td>
        <td><center><a href="http://en.wikipedia.org/wiki/List_of_standard_Gibbs_free_energies_of_formation">(Wiki free energy values)</a></center></td>
      </tr>      
      <tr>
        <td><center>Enthalpy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\fn_jvn&space;\inline&space;\large&space;\Delta&space;H&space;=&space;q"></center></td>
        <td><center>Enthalpy, &#916;H, is the measure of heat energy in a system at constant pressure.</center></td>
      </tr>      
      <tr>
        <td><center>Standard Enthalpy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\fn_jvn&space;\inline&space;\large&space;\Delta&space;H^{\circ}&space;=&space;\sum&space;\Delta&space;H^{\circ}_{f&space;\:&space;products}\:&space;-\:&space;\sum\Delta&space;H^{\circ}_{f\:&space;reactants}"></center></td>
        <td><center>Enthalpy change when one mole of a substance is made from its elements in standard conditions.<br>
        <a href="http://en.wikipedia.org/wiki/Standard_enthalpy_change_of_formation_%28data_table%29">(Wiki enthalpy values)</a>
        </center></td>
      </tr>
      <tr>
        <td><center>Entropy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;\large&space;\Delta&space;S_{universe}=\Delta&space;S_{system}\,&space;&plus;&space;\,&space;\Delta&space;S_{surroundings}"></center></td>
        <td><center>Enthalpy, &#916;S, is the measure of disorder of randomness in a system.<br>
        A higher entropy = A greater amount of disorder.<br>
        In general, Solids &#60; Liquids &#60; Gases.</center></td>
      </tr>       
      <tr>
        <td><center></center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;\large&space;\Delta&space;S_{surroundings}=\,&space;-\frac{\Delta&space;H_{\,&space;system}}{T_{Kelvin}}"></center></td>
        <td><center><br><br></td>
      </tr>   
     <tr>
        <td><center>Standard Entropy</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\fn_jvn&space;\inline&space;\large&space;\Delta&space;S^{\circ}&space;=&space;\sum&space;\Delta&space;S^{\circ}_{&space;\:&space;products}\:&space;-\:&space;\sum\Delta&space;S^{\circ}_{\:&space;reactants}"></center></td>
        <td><center><a href="http://chemed.chem.wisc.edu/chempaths/Table-of-Standard-Molar-Entropies.html">(Molar enthalpy values)</a>
        </center></td>
      </tr>               
      <tr>
        <td><center>Heat Capacity<br>C</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;q&space;=&space;\large&space;C\Delta&space;T"></center></td>
        <td><center>The amount of energy required to raise the temperature of a substance by 1&#8451;.<br>
        Used in "bomb" calorimetery.</center></td>
      </tr>         
      <tr>
        <td><center>Specific Heat Capacity<br>c</center></td>
        <td><center><img src="http://latex.codecogs.com/png.latex?\inline&space;\fn_jvn&space;q&space;=&space;\large&space;mc\Delta&space;T"></center></td>
        <td><center>The amount of heat energy needed to raise the temperature of 1 gram of a substance by 1&#8451;.<br>
        Used in "coffee-cup" calorimetery.<br>
        m = mass in grams.<br>
        <a href="http://en.wikipedia.org/wiki/Heat_capacity#Table_of_specific_heat_capacities">(Wiki specific heat values)</a>
        </center></td>
      </tr>
    </table> 
  </center>
  <!-- Thermodynamics -->
  </div>
</div>

<!-- End Text -->
{% endblock content %}

<style>
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
</style>

{% block lateStatic %}
<!-- jQuery and plugin -->
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}