{% extends "shortbase.html" %}

{% block title %}
AP ChemHelp | Mass Calculator
{% endblock title %}


{% block earlyStatic %}
<!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ STATIC_URL }}css/offcanvas.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{% endblock earlyStatic %}


{% block content %}
    
  <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-9">
          <p class="pull-right hidden-lg">
            <button type="button" class="btn btn-primary btn-offcanvas" data-toggle="offcanvas"><i class="glyphicon glyphicon-resize-horizontal"></i></button>
          </p>
          <div class="jumbotron">

<!-- Text -->

<div class="masscontainer">
  <table bgcolor="#D1D0CE" width="400" height="75" border="0" cellspacing="1" cellpadding="5">
    <tr>
      <td height="40" colspan="6"><center><h2>Mass Calculator</h2></center></td>
    </tr>
    <tr>
      <td height="31" colspan="5"><input type="text" id="input" style="width: 325px; height: 30px;" value="" placeholder="Enter Formula" style="border: 1px solid" onkeydown="if (event.keyCode == 13) document.getElementById('button').click()"><font size="2" color="red" style="float:right">**Note that the input is case-sensitive!</font></td>
      <td colspan="1"><input type="button" value=">>" id="button" style="width: 30px; height: 30px" onClick="getInput()"></td>
    </tr>
  </table>

  <table bgcolor="#D1D0CE" width="400" height="115" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td height="20"></td>
    </tr>
    <tr>
      <td height="40">Entered Formula :  </td>
      <td height="40" id="entered"></td>
    </tr>
    <tr>
      <td height="40">Molecular Weight : </td>
      <td height="40" id="weight"></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>

  </table>
</div>

<!-- End Text -->
{% endblock content %}


{% block lateStatic %}
    <script src="{{ STATIC_URL }}js/ElementMasses.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/MassCalc.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/offcanvas.js"></script>
{% endblock lateStatic %}