.button {
	-moz-box-shadow:inset 3px -4px 0px -12px #ededed;
	-webkit-box-shadow:inset 3px -4px 0px -12px #ededed;
	box-shadow:inset 3px -4px 0px -12px #ededed;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e8e1e8), color-stop(1, #030303) );
	background:-moz-linear-gradient( center top, #e8e1e8 5%, #030303 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e1e8', endColorstr='#030303');
	background-color:#e8e1e8;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #e77111;
	display:inline-block;
	color:#fe9911;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:7px 34px;
	text-decoration:none;
	text-shadow:1px -1px 3px #030303;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #030303), color-stop(1, #e8e1e8) );
	background:-moz-linear-gradient( center top, #030303 5%, #e8e1e8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030303', endColorstr='#e8e1e8');
	background-color:#030303;
}.button:active {
	position:relative;
	top:1px;
}
input:focus {
 background-color: yellow; 
}

textarea
{
background-color: transparent;
border: none;
color: red;
font-size: 175%;
overflow: hidden;
}
.boxed{
	margin: 35px;
}
